body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.scores {
  display: flex;
  gap: 10px;
}

#result {
  display: flex;
  justify-content: center;
  text-align: center;
}

#finalResult {
  display: flex;
  justify-content: center;
  text-align: center;
}